.navcenter{
    width: 100%;
    text-align:center;
    display:inline-block;   
    }
.link{
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo{
    color:rgb(255, 255, 255);
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

